In [1]:
x,y,z = 1,2,3
a = x/y
a1 = x//y
a2 = x%y
print(a)
print(a1)
print(a2)

0.5
0
1

In [2]:
x == x%y

True

In [4]:
x%y != x

False

In [5]:
x%y != x or x == x%y

True

In [6]:
x%y != x and x == x%y

False

In [7]:
not x%y != x or x == x%y

True

In [8]:
not x%y != x and x == x%y

True

In [10]:
f = not (x%y != x and x == x%y)

In [11]:
f

True

Check
+=, -=, *=, /=, %=, //=, **=

In [12]:
f += 1 #<=> f = f + 1
f

2

In [13]:
f **= 3
f

8

In [16]:
f *= 3
f

216

In [19]:
s = 'hello'
s = s.replace('h','')

In [20]:
s

'ello'

In [21]:
s[-1]

'o'

In [22]:
s[0]

'e'

### Mixed type

In [11]:
l = [2,4, 'hello', [2,'a', (5,2.4)], 'cong']
type(l)

list

In [2]:
type(l[2])

str

In [5]:
type(l[3][2][1])

float

In [7]:
t = (3,5.4, [4,6], 'string')
t

(3, 5.4, [4, 6], 'string')

In [8]:
type(t)

tuple

In [12]:
l1 = l
l2 = l[:]
l1.append(123)
l.remove(4)
print(l)
print(l1)
print(l2)

[2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123]
[2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123]
[2, 4, 'hello', [2, 'a', (5, 2.4)], 'cong']

In [13]:
'hello' in l

True

In [14]:
'hello' not in l2

False

In [16]:
'he' in 'hello'

True

In [17]:
[4,6] in t

True

In [18]:
t2 = t + t
t2

(3, 5.4, [4, 6], 'string', 3, 5.4, [4, 6], 'string')

In [20]:
list(t) + l

[3, 5.4, [4, 6], 'string', 2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123]

In [21]:
t + tuple(l)

(3, 5.4, [4, 6], 'string', 2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123)

In [22]:
str(l)

"[2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123]"

In [23]:
int('123')

123

In [24]:
f = float(123)
print(f)
type(f)

123.0

float

In [25]:
str(t)

"(3, 5.4, [4, 6], 'string')"

In [26]:
str(l) + ' --- ' + str(t)

"[2, 'hello', [2, 'a', (5, 2.4)], 'cong', 123] --- (3, 5.4, [4, 6], 'string')"

In [27]:
t.append(121)

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
s = 'xin chao {2} {1} {0[1]}'.format('ai do', 123, 3.4)
s

'xin chao 3.4 123 i'

In [34]:
print(s)

xin chao 3.4 123 i

In [35]:
print('{:*<30}'.format('left aligned'))

left aligned******************

In [37]:
for i in range(5):
    print('gi gi do ', i)

gi gi do  0
gi gi do  1
gi gi do  2
gi gi do  3
gi gi do  4

In [40]:
'*' * 3

'***'

In [41]:
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [44]:
for i in range(5):
    print("{:^9}".format('*' * i + '*' + '*' * i))

    *
   ***
  *****
 *******
*********

In [58]:
n = 3
for i in range(n):
    print("{:^5}".format('*' * i + '*' + '*' * i))
    
for i in range(n):
    print("{:^12}".format('*' * 3 + ' ' * 4 + '*' * 3))
    
print("{:^12}".format("*" * 10))
print("{:^12}".format("*" * 10))

for i in range(n):
    print("{:^12}".format('*' * 3 + ' ' * 4 + '*' * 3))
    
for i in range(n):
    print("{:>12}".format('*' * (n-i-1) + '*' + '*' * (n-i-1) + ' '*i))

  *
 ***
*****
 ***    ***
 ***    ***
 ***    ***
 **********
 **********
 ***    ***
 ***    ***
 ***    ***
       *****
        ***
         *

In [66]:
n = 3
for i in range(n):
    print("{:^9}".format('**' * i + '*' + '**' * i))
    
for i in range(n):
    print("{:^20}".format('*' * 5 + ' ' * 6 + '*' * 5))
    
print("{:^20}".format("*" * 16))
print("{:^20}".format("*" * 16))

for i in range(n):
    print("{:^20}".format('*' * 5 + ' ' * 6 + '*' * 5))
    
for i in range(n):
    print("{:>20}".format('**' * (n-i-1) + '*' + '**' * (n-i-1) + ' '*i*2))

    *
  *****
*********
  *****      *****
  *****      *****
  *****      *****
  ****************
  ****************
  *****      *****
  *****      *****
  *****      *****
           *********
             *****
               *

In [92]:
n = 11
space = 4
w = n * space-1
align = '^'
print("{0:{1}{2}}".format('*', align,w))

for i in range(1,n-1):
    m = 1 + space * i
    s = '*' + ' ' * (m-2) + '*'
    print("{0:{1}{2}}".format(s, align, w))
    
print("{0:{1}{2}}".format('* ' * (m//2) + '* *', align, w))

                     *
                   *   *
                 *       *
               *           *
             *               *
           *                   *
         *                       *
       *                           *
     *                               *
   *                                   *
  * * * * * * * * * * * * * * * * * * * *

In [97]:
l = [3,5,2,9,4,[3]]
l.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [94]:
l

[2, 3, 4, 5, 9]

In [95]:
l.reverse()
l

[9, 5, 4, 3, 2]

In [101]:
name = input('Enter something here: ')
print(int(name))
type(name)

Enter something here: 123
123

str