In [1]:
t = (12,4,6,78)
print(max(t))
print(min(t))
print(len(t))
print(sum(t))

78
4
4
100

In [4]:
m2 = [[[1],[2,6],[3]], [3,4], [5,6], [7,8]]
m2[0][1]

[2, 6]

In [5]:
len(m2)

4

In [29]:
m=3
n=2
m2 = [[3,4], [5,6], [7,8],[2, 5]]
# if condition:
#     statements
# else:
#     statements

matrix = True
if len(m2) != m:
    matrix = False
for row in m2:
    if len(row) != n:
        matrix = False
        
print('Is matrix {}x{}: {}'.format(m,n,matrix))

Is matrix 3x2: False

In [13]:
print(m2 * 3)

[[3, 4], [5, 6], [7, 8], [2], [3, 4], [5, 6], [7, 8], [2], [3, 4], [5, 6], [7, 8], [2]]

In [14]:
m2 * 2

[[3, 4], [5, 6], [7, 8], [2], [3, 4], [5, 6], [7, 8], [2]]

In [19]:
x = 0
while x < 5:
    x += 1
    print('before continue')
    continue
    print(x)

before continue
before continue
before continue
before continue
before continue

In [20]:
for r in m2:
    print('--- ',r)

---  [3, 4]
---  [5, 6]
---  [7, 8]
---  [2]

In [21]:
for c in 'hello':
    print(c)

h
e
l
l
o

In [28]:
for i in range(2,5):
    print(i, end='')

234

In [33]:
m2 = [[3,4], [5,6], [7,8],[2, 5]]
print(m2)
for x1, x2 in m2:
    print(x1, '  ', x2 )

[[3, 4], [5, 6], [7, 8], [2, 5]]
3    4
5    6
7    8
2    5

In [35]:
list(enumerate(m2))

[(0, [3, 4]), (1, [5, 6]), (2, [7, 8]), (3, [2, 5])]

In [36]:
m3 = []
for r in m2:
    m3.append(sum(r))
print(m3)

[7, 11, 15, 7]

### List conprehension

In [37]:
m4 = [sum(r) for r in m2]
m4

[7, 11, 15, 7]

In [38]:
#true value if condition else false value
x = 2
y = 1 if x==2 else 0
y

1

##### List conprehension - Filter

In [42]:
li = [3, 6, 2, 7, 1, 9]
m5 = [elem * 2 for elem in li if elem > 4]
m5

[12, 14, 18]

In [41]:
m6 = [elem * 2 if elem > 4 else elem**2 for elem in li]
m6

[9, 12, 4, 14, 1, 18]

In [43]:
m2

[[3, 4], [5, 6], [7, 8], [2, 5]]

In [44]:
m7 = []
for r in m2:
    r_temp = []
    for e in r:
        r_temp.append(e**2)
    m7.append(r_temp)
m7

[[9, 16], [25, 36], [49, 64], [4, 25]]

In [45]:
m71 = [[e**2 for e in r] for r in m2]
m71

[[9, 16], [25, 36], [49, 64], [4, 25]]

In [48]:
m72 = [[e**2 for e in r] for r in m2]
m72

[4, 4, 4, 4, 25, 25, 25, 25]

In [53]:
ln = input('Enter a sequence of integer numbers (separated by comma): ')
print(ln, ' -- ', type(ln))
ln = ln.split(',')
print(ln, ' -- ', type(ln))

Enter a sequence of integer numbers (separated by comma): 12,42,53,a2,434,6346,85,24,4267
12,42,53,a2,434,6346,85,24,4267  --  <class 'str'>
['12', '42', '53', 'a2', '434', '6346', '85', '24', '4267']  --  <class 'list'>

In [55]:
#method 1
even_r = [int(e) for e in ln if e.isnumeric() and e[-1] in '02468']
odd_r = [int(e) for e in ln if e.isnumeric() and e[-1] in '13579']
print(even_r)
print(odd_r)

[12, 42, 434, 6346, 24]
[53, 85, 4267]

In [57]:
#method 2
even_r = [int(e) for e in ln if e.isnumeric() and int(e) % 2 == 0]
odd_r = [int(e) for e in ln if e.isnumeric() and int(e) %2 != 0]
print(even_r)
print(odd_r)

[12, 42, 434, 6346, 24]
[53, 85, 4267]

In [72]:
l = [20, 20, 19, 19, 21]
s_min = 1000
m = 1000
for e in l:
    if m > e:
        s_min = m
        m = e
    elif s_min > e and e > m:
        s_min = e
print(s_min)
print(m)

20
19

In [60]:
min(l)

-3

In [68]:
records = [['Hina', 20],['Shina', 20.1],['Mina', 20.01],['Tina', 20.001]]
s_min = 1000
m = 1000
for n,g in records:
    if m > g:
        s_min = m
        m = g
    elif s_min > g:
        s_min = g
# print(s_min)
# filter name with second lowest grade
# using list conprehension
filter_record = [r[0] for r in records if r[1] == s_min]
# sort name if many names exists
filter_record.sort()
# print results
for n in filter_record:
    print(n)

Tina